<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="/bower_components/knockout/dist/knockout.js"></script>
    <script src="/js/viewModels/search.js"></script>
  </head>
  <body>
    admin
  </body>
  <script>
  	var admin = new Admin();
  	ko.applyBindings(admin);
  </script>
</html>