<html>
  <head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap-material-design/dist/css/material.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap-material-design/dist/css/roboto.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//www.fuelcdn.com/fuelux/3.6.3/css/fuelux.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap-material-design/dist/css/material-fullpalette.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap-material-design/dist/css/ripples.css">
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap-material-design/dist/js/material.js"></script>
    <script src="/bower_components/knockout/dist/knockout.js"></script>
    <script src="/js/viewModels/search.js"></script>
    <!-- jQuery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//www.fuelcdn.com/fuelux/3.6.3/js/fuelux.min.js"></script>
    <script>
      $.material.init();
    </script>
  </head>
  <body style="background-image:url('images/bg.jpg'); background-size:cover;">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">IPS</a>
            <a class="navbar-brand" href="/apply">Apply Now</a>
            <a class="navbar-brand" href="/status">Application Status</a>
            <a class="navbar-brand" href="/teacher">Teacher Recommendations</a>
        </div>
    </div>
    <div id="content">
    <div>
    <h1>Welcome to the IPS Magnet Program!</h1>
    <h3>What would you like to do?<br><br>
    <button onclick="window.location='/apply'" class="btn btn-primary">create a new application</button>
    <br><button  onclick="window.location='/apply'" class="btn btn-primary">update an existing application</button> <br>
    <button  onclick="window.location='/status'" class="btn btn-primary">check on the status of your application</button><br><button  onclick="window.location='/teacher'" class="btn btn-primary">submit a teacher recommendation form</button></h3>
    </div>
    </div>
  </body>
</html>
