<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap-material-design/dist/css/material.css">
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/bootstrap-material-design/dist/js/material.js"></script>
  </head>
  <body>
  	<!-- options are here -->
  	/admin, /teacher, /apply
  </body>
</html>
