<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="/bower_components/knockout/dist/knockout.js"></script>
    <script src="/js/viewModels/student.js"></script>
  </head>
  <body>
  	<div id="application">
    apply
  	</div>
  </body>
  <script>
  	var student = new Student();
  	ko.applyBindings(student);
  </script>
</html>
