<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap-material-design/dist/css/material-fullpalette.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap-material-design/dist/css/ripples.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap-material-design/dist/css/material.css">
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap-material-design/dist/css/roboto.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link href="//www.fuelcdn.com/fuelux/3.6.3/css/fuelux.min.css" rel="stylesheet">
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/knockout/dist/knockout.js"></script>
    <script src="/bower_components/bootstrap-material-design/dist/js/material.js"></script>
    <script src="/js/viewModels/student.js"></script>
    <!-- jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//www.fuelcdn.com/fuelux/3.6.3/js/fuelux.min.js"></script>
    <script>
    $.material.init();
    </script>
  </head>
    <body class="fuelux">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">IPS</a>
        </div>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <form class="navbar-form navbar-left">
                <input type="text" class="form-control col-lg-8" placeholder="Search">
            </form>
        </div>
<div class="wizard" data-initialize="wizard" id="myWizard">
  <ul class="steps">
    <li data-step="1" data-name="campaign" class="active"><span class="badge">1</span>Student Information<span class="chevron"></span></li>
    <li data-step="2"><span class="badge">2</span>Current Schooling<span class="chevron"></span></li>
    <li data-step="3" data-name="template"><span class="badge">3</span>Parent Information<span class="chevron"></span></li>
    <li data-step="4" data-name="template"><span class="badge">3</span>Program Selection<span class="chevron"></span></li>
  </ul>
  <div class="actions">
    <button type="button" class="btn btn-default btn-prev"><span class="glyphicon glyphicon-arrow-left"></span>Prev</button>
    <button type="button" class="btn btn-default btn-next" data-last="Complete">Next<span class="glyphicon glyphicon-arrow-right"></span></button>
  </div>
  <div class="step-content">
    <!-- ko if: onPageZero -->
    <div class="">
      <h1>Welcome to the IPS magnet application!</h1>
      <h1>Have you already starting your application?</h1>
      <button type="button" class="btn btn-default" data-bind="click: function() { toPage(1); }">Yes</button>
      <button type="button" class="btn btn-default" data-bind="click: function() { toPage(2); }">No</button>
    </div>
    <!-- /ko -->
    <!-- ko if: onPageOne -->
    <div>
      <h1>Welcome back!</h1>
      <h1>We just need a couple details to login you back in:</h1>
      <div class="input-group-lg">
        <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
        <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
        <button type="button" class="btn btn-default" data-bind="click: function() { toPage(3); }">Yes</button>
      </div>
    </div>
    <!-- /ko -->
    <!-- ko if: onPageTwo -->
    <div>
      <h1>Cool, let's get started!</h1>
      <h1>We just need a couple details to login you back in:</h1>
      <div class="input-group-lg">
        <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
        <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
        <button type="button" class="btn btn-default" data-bind="click: function() { toPage(3); }">Yes</button>
      </div>
    </div>
    <!-- /ko -->
    <!-- ko if: onPageThree -->
    <div>
      <h1></h1>
      <h1>First, we need some general details:</h1>
      <div class="input-group-lg" style="width:500px">
        <input type="text" class="form-control" placeholder="First Name">
        <input type="text" class="form-control" placeholder="Last Name">
        <input type="text" class="form-control" placeholder="Birthday">
        <input type="text" class="form-control" placeholder="Gender">
        <input type="text" class="form-control" placeholder="Ethnicity">
        <button type="button" class="btn btn-default" data-bind="click: function() { toPage(2); }">Yes</button>
      </div>
    </div>
    <!-- /ko -->
  </div>

</div>
  <script>
  	var student = new Student();
  	ko.applyBindings(student);
  </script>
  </body>
</html>
