<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="/bower_components/knockout/dist/knockout.js"></script>
    <script src="/js/viewModels/student.js"></script>
  </head>
  <body>
  teacher
  </body>
  <script>
  	var teacher = new Teacher();
  	ko.applyBindings(teacher);
  </script>
</html>
