body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#myWizard {
	height:100%;
	color:#020202;
}

.step-content {
	text-align:center;
	display:flex;
	height:100%;
	align-items:center;
	justify-content:center;
}